:host {
    display: grid;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    gap: 8rem;
    grid-template-columns: 1fr 1fr;
    padding: 10rem;

    >section {
        border: 1px solid rgba(180, 180, 180, 0.34);
        border-radius: 3rem;
        height: 100%;
        box-shadow: 4px 7px 14px -4px #9c9c9c31;

        &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}